/*style.css*/

h1.recipe {
    border: 3px solid bisque;
    color:antiquewhite;
    background-image: url(/Users/mattjensen/Desktop/chef.jpeg);
    margin: auto;
    width: 50%;
}

 a.hamsandwich {
     color:chartreuse;
 }

 a.hotdog {
     color:gold;
 }

 *{
     text-align:center;
 }